/*index*/
.box {
  background: lightblue;
  border: 1px solid dodgerblue;
  min-height: 10rem;
  font-size: 2rem;
}

.navbar {
  background: white;
  border-bottom: 3px solid rgb(41, 41, 67);
}
.nav-item {
  margin-left: 10px;
}

.navbar-dropdown {
  position: relative;
}

.dropdown-cart {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: auto;
  min-width: 300px;
}

@media (min-width: 768px) {
  /*min-width of cart view on medium-sized screens*/
  .dropdown-cart {
    min-width: 400px;
  }
}
@media (min-width: 992px) {
  /*min-width of cart view on large/xl-sized screens*/
  .dropdown-cart {
    min-width: 500px;
  }
}

.items-in-cart li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  max-width: 100%;
  display: block;
}

.items-in-cart {
  max-height: 200px; /* Set the desired max-height */
  overflow-y: auto;
  padding-bottom: 5px;
  border-bottom: 2px solid darkgray;
}

.dropdown-cart li {
  white-space: normal; /* reset white-space to normal for list items */
}

.ind-item:hover,
.list-item:hover {
  background-color: lavender;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.sum-item {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  padding-bottom: 3px;
}

.category {
  background: white;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  padding-top: 3rem;
}
.card-title {
  font-size: 1rem;
  font-weight: 600;
}
.card-text {
  color: rgb(108, 106, 106);
}
.category_header {
  color: rgb(86, 92, 106);
  padding: 1rem;
}
.card {
  width: 100%;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card-footer {
  background: none;
  border-top: none;
}
.rating {
  font-size: small;
  margin-bottom: 0;
}
.card-img-top {
  padding: 20px;
}
.price {
  font-size: larger;
}
.linkModal {
  text-decoration: none;
}
.btn {
  z-index: 1;
}

/*cart */
.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
#cart-table {
  margin-top: 2rem;
}

.buttons {
  display: flex;
  gap: 10px;
}

/*Checkout*/
h1 {
  padding-top: 3rem;
  text-align: center;
}
.checkout-container {
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .checkout-container {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    align-items: stretch;
    margin-right: 0;
    margin-left: 0;
  }
}

.left-col {
  background-color: #c0c0c0;
}
.right-col {
  background-color: lightgray;
}


.left-col h3, .right-col h3 {
  text-align: center;
  padding: 2px;
  margin-top: 1rem;
}
.input-correct {
  background-color: #b5cfb5 !important;
  border-color: #7c9a7c;
  border-width: 1.5px;
}

.input-not-correct {
  background-color: #ffe1e1 !important;
  border-color: #ed877c;
  border-width: 1.5px;
}
.error-message {
  color: #da6e62;
  font-size: 2rem;
  margin: 2rem;
  min-height: 3rem;
}


.list-div {
  margin-top: 2rem;
  overflow-y: auto;
 background-color: #ffffff; 
}

.order-list {
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style-type: none;
}
.price-and-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}
.price-p{
  margin: 0 10px;
  font-weight: bold;
  font-size: 2rem;
}